{{ ansible_managed | comment }}

[Unit]
Description = Prometheus json-exporter
After       = network-online.target

[Service]
Type        = simple
Environment = "GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}"
EnvironmentFile = {{ json_exporter_config_directory }}/json_exporter

User        = {{ json_exporter_system_user }}
Group       = {{ json_exporter_system_group }}

ExecReload  = /bin/kill -HUP $MAINPID
ExecStart   = /usr/bin/json_exporter $OPTIONS

SyslogIdentifier = json_exporter
Restart     = always

[Install]
WantedBy    = multi-user.target
